<section class="home-container">
  <header class="header">
    <h1 class="logo">🍸 CocktailForYou</h1>
  </header>

  <main class="card-grid">
    <button class="drink-card" (click)="goToDrink('Mojito')">
      <img src="https://www.thecocktaildb.com/images/media/drink/metwgh1606770327.jpg" alt="Mojito">
      <h3>Mojito</h3>
    </button>

    <button class="drink-card" (click)="goToDrink('Margarita')">
      <img src="https://www.thecocktaildb.com/images/media/drink/5noda61589575158.jpg" alt="Margarita">
      <h3>Margarita</h3>
    </button>
  </main>
</section>
